body
{
	/*background-color: rgb(40,40,40);*/
}


.btn
{
	border-radius: 1px;
	border-color: rgb(0,209,206);
	background-color: rgb(0,209,206);
	color: black;
	width: 100%;
	margin-bottom: 10px; 

	
    
}

.opt
{
	margin-bottom: 0px;
}



.head
{
	color: rgb(0,209,206);
	text-align: center;
	text-decoration: underline;
}


.inpt
{
	margin-top: 10px;
	text-align: left;
	margin-bottom: 10px;
}


#form1
{
	border: solid 1px black;
		
	
    box-shadow: 5px 5px 7px #000000;
	color: rgb(150,150,150);
	background-color: rgb(20,20,20);
	

}

.inpt1
{
	margin-bottom: 10px;
}


.plch
{
	background-color: rgb(20,20,20);
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgb(150,150,150);
  height: 37px;
  line-height: 45px;  
  margin-bottom: 20px;
  font-size: 1em;
  color: rgb(150,150,150);
  outline: none;
}

#form0
{
	border: solid 1px black;
		

    box-shadow: 5px 5px 7px #000000;
	color: rgb(150,150,150);
	background-color: rgb(20,20,20);
	
	
}


.user
{
  background-color: rgb(20,20,20);
  margin: 0 auto;
  width: 50%;
  border: 0;
  border-bottom: 1px solid rgb(150,150,150);
  height: 45px;
  line-height: 45px;  
  font-size: 1em;
 
  margin-left: 150px;
  margin-bottom: 0px;
  outline: none;
}

#para
{
	text-align: justify;
	text-indent: 40px;
}

.selection
{
	margin-left: 300px;
}
.navbar
{
	box-shadow: 5px 5px 9px black;
	background-color: rgb(20,20,20);
}

.glyphicon
{
	color: rgb(255,120,0);
}
.navtext{
	color: rgb(255,120,0);
	height: auto;
	width: auto;
}
.row2
{
	/*border-top: 2px solid rgb(0,209,206);*/
	box-shadow: -5px 0px 9px rgb(0,209,206);
	color: rgba(0,209,206,0.5);
	margin-top: 500px;
	text-align: center;
	position: fixed;
	bottom: 0;
	padding-top: 2px;
	padding-left: 0px;
	padding-right: 100px;
	width: 100%;
	height: 5%;
	background-color: rgb(20,20,20);
	margin-left: 0;
	margin-right: 1000px;
}