<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Question Hub</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/hubcss.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/timer.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/headfoot.css" %}">
    <script src="{% static "js/timerscript.js" %}"></script>
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        background-image: url(static/Images/stripesdark1.png);
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script type="text/javascript">
        window.history.forward();
        function noBack()
        {
            window.history.forward();
        }
</script>
<script type="text/javascript">
window.open ("yourPageURL","mywindow","status=1,toolbar=0");
</script>

<body id="page" onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
<script>
// Set the date we're counting down to
var countDownDate = new Date("Sept 14, 2017 00:55:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = hours + ":"
    + minutes + ":" + seconds;

    // If the count down is over, write some text
    if (distance <= 1000) {
        clearInterval(x);
        document.getElementById("demo").click();
    }
}, 1000);
</script>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
          <div class="navbar-header"><a><img src="{% static "Images/pisb1.png" %}" height="48px" width="120px" style="padding-top: 8px;margin-left: 0px; padding-right: 8px; "></a></div>
            <div class="navbar-header">
              <a class="navbar-brand">

                  <a class="navbar-brand"><span class="navtext" style="width:550px;font-size:22px;"><b>QUESTION HUB</b> </span></a><!--PAGE HEADING KE LIYE-->
              </div>

              <ul class="nav navbar-nav" style="margin-top:10px;">
                  <li><label class="STLabel" id="timer" style="padding-left:260px; margin-left:1px;color:rgb(0,206,209);font-size:22px;"></label></li>
              </ul>
              <ul class="nav navbar-nav navbar-right"><!--Right side pe baaki pages ke links ke liye-->
               <li><a><span class="navtext"><b>SCORE: {{ p.total_score }}</b></span></a></li>
               <li><a href="/leaderboard"><span class="navtext"><b>LEADERBOARD</b></span></a></li>


                  <li><a href="/logout" id="demo"><span class="navtext"><b>LOGOUT</b></span><span class="glyphicon glyphicon-log-out"></span></a></li>
              </ul>
          </div>
      </nav>


    <!-- Page Content -->
    <div class="container">
<div>
<br><br>
        <div class="row">
            {% for q in all_questions %}
            <div class="col-lg-4 text-center">
                <a href="/{{ q.id }}"><button type="button" class="button1" id="question1" class="tooltip"><p class="q1">Question {{ q.id }}</p> <span id="tooltip1">
                    {{ q.question_title }}
                </span></button></a>
            </div>
            {% endfor %}
        </div>
        
        <!-- /.row -->

    </div>
   
        </div>
         <footer>
        <div class="row2">
             Copyright<b>©</b> : PICT IEEE STUDENT BRANCH,CTD'17
        </div>
    </footer>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
