<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/mycss.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/headfoot.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/timer.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/button.css" %}">

  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
          #loginbutton
        {
        	width: 50%;
        }
        #userid
        {
        	margin-right: 100px;
        }

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body background="{% static "Images/stripesdark.png" %}">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">
                  <img src="{% static "Images/pisb.png" %}" height="160%">
                  <a class="navbar-brand" href="#"><span class="navtext">Registration Page</span></a><!--PAGE HEADING KE LIYE-->
              </div>

              <ul class="nav navbar-nav">

              </ul>
              <ul class="nav navbar-nav navbar-right"><!--Right side pe baaki pages ke links ke liye-->
                  <li><a href="#"><span class="navtext">About us</span></a></li>
              </ul>
          </div>
      </nav>

      <!-- Page Content -->
      <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-5" id="form0">

                    <h2 class="head">INSTRUCTIONS</h2>
                    <p id="para">
                        Love stories needn’t always have to be cheesy or grand. In 2010, Satish Rajwade strode in the minds of Marathi viewers with the romantic Mumbai-Pune-Mumbai. 

                        The film clicked due to its unconventionality. It broke away from clichéd love stories and mushy romance to present a practical yet lovable couple. In that sense, Rajwade has always experimented with the unconventional through his films. So it doesn’t come as a surprise that Ti Sadhya Kay Karte (TSKK) treads the same path. But the film is still as relatable, as simple and as sweet as the director’s previous ventures. 

                        TSKK is spread over three generations and has three sets of actors portraying the same characters- Anurag and Tanvi. The whole focus of the film is around first love and it unfolds through the eyes of the present day Anurag (Chaudhary). The viewers are taken into flashback and introduced to our lead characters who are then just getting to know each other. This transforms into friendship in college, a time of confusion for Anurag and realisation for Tanvi, and simultaneously the grown up duo that reminisces about their childhood. 

                        The love stories we’ve grown up watching have conditioned us to believe in the protagonists ending up together, but TSKK doesn’t do that and that’s a much-needed break from the usual. Because, we’ve had enough of ‘ek ladka aur ek ladki kabhi dost nahi ho sakte’ and it’s time we accept the fact that certain relations transcend definition. 

                    </p>

                </div>
                <div class="col-lg-1 text-center">


                </div>
                <div class="col-lg-6 text-center" id="form1">
                    <form action = "/submit" method = "POST">{% csrf_token %}
                        <h2 class="head">REGISTRATION FORM</h2>
                        <div class="col-lg-6 text-center" class="inpt">
                            <input type="text" name="pname1" placeholder="Player1 Name" class="plch"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player1 Name'" ><br>
                            <input type="Email" name="pemail1" placeholder="Player1 Email ID" class="plch" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player1 Email ID'"  ><br>
                            <input type="tel" maxlength="10" name="pphone1" placeholder="Player1 Contact Number" class="plch"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player1 Contact Number'" ><br>
                        </div>
                        <div class="col-lg-6 text-center" class="inpt">
                            <input type="text" name="pname2" placeholder="Player2 Name" class="plch"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player2 Name'" ><br>
                            <input type="Email" name="pemail2" placeholder="Player2 Email ID" class="plch"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player2 Email ID'" ><br>
                            <input type="tel" maxlength="10" name="pphone2" placeholder="Player2 Contact Number" class="plch"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Player2 Contact Number'" ><br>
                        </div>
                        <div class="col-lg-12 text-left" class="inpt">
                            <input type="text" name="team_name" placeholder="Enter username" class="user" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter username'" ><br>
                            <input type="password" name="team_pass" placeholder="Enter Password" class="user"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Password'" ><br>
                            <br>
                            <div>
                                <input class="btn red" type="submit" value="Login"><span></span>

                                {{ message }}
                            </div>                     
                        </div>
                    </form>

                </div>
                <br><br><br>
            </div>

            <!-- /.row -->

        </div>

    </div>
    <footer>
        <div class="row2">
             Copyright<h4>©</h4> : PICT IEEE STUDENT BRANCH,CTD'17
        </div>
    </footer>
 <!-- /.container -->

 <!-- jQuery Version 1.11.1 -->
 <script src="{% static "js/jquery.js" %}"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
