
    body {
      /*  padding-top: 70px;*/
        background-image: url(ci/wall.gif);
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
        /*margin-top: 5%;*/

        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
        table{
            font-family: cambria;
            margin-top: 3.5%;
            border: 2px solid blue;
           /* border-collapse: collapse;*/
            background-color: black;
            opacity: .7;
            color: white;
            font-weight: 600;
            border-radius:10px;
            width:100%;
            margin-bottom: 10%;
        }
        th{
            font-size: 25px;
            padding: 8px;
            text-align: center;
            border-bottom: .05px solid #202020;
        }
        td{
            font-size: 20px;
            padding: 8px;
            text-align: center;
            border-bottom: .05px solid #202020;
        }
        tr:hover{
            background-color: azure;
            color:black;
            border-radius: 10px;
        }
        #pch{
            border-radius: 10px 10px 0 0;
        }
        #pch:hover{
            background-color: black;
            color: white;
            opacity: .7;
        }
        .pch1{
            margin-top: -50px;
            font-family: cambria;
            font-size: 500%;
            color: azure;
            font-weight: 700;
            text-align: center;
        }
        .top{
            border-radius: 100%;
            min-height: 150px;
            min-width: 175px;
            /*border: 2px solid blue;
            background-color: black;
            opacity: .7;*/
            margin-top: 6%;
            margin-bottom: 29%;
            position: fixed;
        }
        .top1{
            border-radius: 100%;
            min-height: 150px;
            min-width: 175px;
            /*border: 2px solid blue;
            background-color: black;
            opacity: .7;*/
            margin-bottom: 29%;
            position: fixed;
            margin-top: 6%;
        }
        .cur{
            border-radius: 100%;
            min-width: 175px;
            min-height: 150px;
           /* border: 2px solid blue;
            background-color: black;
            opacity: .7;*/
            position: fixed;
            margin-top: 24%;
        }
        .cur1{
            border-radius: 100%;
            min-width: 175px;
            min-height: 150px;
           /* border: 2px solid blue;
            /*background-color: black;
            opacity: .7;*/
            position: fixed;
            margin-top: 24%;
        }
        .pb
        {
            margin-top:0px;
            background:black;
          display:block;
          padding-top:10px;
            padding-left:26px;
            font-size:20px;
            color:white;
            height:50px;
        }
        .pch2{
            margin-top: 1.75%;
            font-family: cambria;
            font-size: 225%;
            color: azure;
            font-weight: 600;
            text-align: center;
            position: fixed;
            margin-left: 3.5%;
        }
        .pch3{
            font-family: cambria;
            font-size: 225%;
            color: azure;
            font-weight: 600;
            text-align: center;
            position: fixed;
            margin-top: 19%;
            margin-left: 3.5%;
        }
        .lol{
            margin-top: 10%;
            font-family: cambria;
            font-size: 200%;
            color: azure;
            font-weight: 600;
            /*text-align: center;*/
            margin-left: 45%;
        }
        .lol1{
            font-family: cambria;
            font-size: 175%;
            color: azure;
            font-weight: 600;
            /*text-align: center;*/
            margin-left: 45%;
        }
        #navbt1
        {
            margin-top: 8%;
            font-family: cambira;
        }
        #navbt2
        {
            margin-top: 8%;
            font-family: cambira;
        }
    